html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#particles-bg {
  width: 100vw;
  height: 100vh;
  background: #1b1b1c4d;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}
#particles-bg::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  pointer-events: none;
  z-index: 1;
  background: radial-gradient(ellipse at center, rgba(27,27,28,1) 20%, rgba(27,27,28,.3) 100%);
}
.hidden { display: none !important; } 